{% extends '_layout.html' %}

{% block title %}subject selection{% endblock %}

{% block content %}
<form method="post">
    <label for="first_name">First name:</label>
    <input id="first_name" name="first_name" type="text">
    <br />
    <label for="last_name">Last name:</label>
    <input id="last_name" name="last_name" type="text" />
    <br />
    <label for="email">Email:</label>
    <input id="email" name="email" type="email" />
    <br />
    <label for="must_choose_subject(english)">must_choose_subject(english)</label>
    <select id="must_choose_subject(english)" name="must_choose_subject(english)" />
        {% for subject in subjects %}
         <option value="{{ subject.subject_code }}">{{ subject.subject_name }}</option>
        {% endfor %}
    <select />

    <br />

    <label for="must_choose_subject(Mathematics)">must_choose_subject(Mathematics):</label>
    <select id="must_choose_subject(Mathematics)" name="must_choose_subject(Mathematics)" />
        {% for subject in subjects %}
        <option value="{{ subject.subject_code }}">{{ subject.subject_name }}</option>
        {% endfor %}
    <select />
    <br />

    <label for="must_choose_subject(science)">must_choose_subject(science):</label>
    <select id="must_choose_subject(science)" name="must_choose_subject(science)" />
         {% for subject in subjects %}
         <option value="{{ subject.subject_code }}">{{ subject.subject_name }}</option>
        {% endfor %}
    <select />

    <br />
    <label for="self_choose_subject(1)">self_choose_subject(1):</label>
    <select id="self_choose_subject(1)" name="self_choose_subject(1)">
        {% for subject in subjects %}
        <option value="{{ subject.subject_code }}">{{ subject.subject_name }}</option>
        {% endfor %}
    </select>

    <br />
    <label for="self_choose_subject(2)">self_choose_subject(2):</label>
    <select id="self_choose_subject(2)" name="self_choose_subject(2)" />
        {% for subject in subjects %}
        <option value="{{ subject.subject_code }}">{{ subject.subject_name }}</option>
        {% endfor %}
    <select />

    <br />
    <br>
    <input type="submit" value="submmit">
</form>
{% endblock %}