{% extends '_layout.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<table>
    <tr>
        <th>subject_name</th>
        <th>subject_code</th>
        <th>subject_categorties</th>
        <th>subject_description</th>
        <th>head_faculty_teachers</th>
        <th>Actions</th>
    </tr>
    {% for row in result %}
    <tr>
        <td>{{ row.subject_name }}</td>
        <td>{{ row.subject_code }}</td>
        <td>{{ row.subject_categorties }}</td>
        <td>{{ row.subject_description}}</td>
        <td>{{ row.head_faculty_teachers }}</td>
        <td>
            <a href="/view?user_id={{ row.subject_id }}">View</a>
            <a href="/edit?user_id={{ row.subject_id }}">Edit</a>
            <a href="/delete?user_id={{ row.subject_id }}" onclick="return confirm('Are you sure?')">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
<a href="{{ url_for('add_subject') }}">Add a new subject</a>
{% endblock %}