{% extends '_layout.html' %}

{% block title %}subject_information{% endblock %}

{% block content %}
<table>
    <tr>
        <th>subject_name</th>
        <th>subject_code </th>
        <th>subject_categories</th>
        <th>subject_description</th>
        <th>head_faculty_teachers</th>
    </tr>
    {% for row in result %}
    <tr>
        <td>{{row.subject_name}}</td>
        <td>{{row.subject_code }}</td>
        <td>{{row.subject_categories}}</td>
        <td>{{row.subject_description}}</td>
        <td>{{row.head_faculty_teachers}}<td>
        <td>
            <a href="/view?id={{row.id}}">View</a>
            <a href="/edit?id={{row.id}}">Edit</a>
            <a href="/delete?id={{row.id}}"onlclick="return confirm('Are you sure?')">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
<a href="{{url_for('add_user')}}">Add a new subject </a>
{% endblock %}