{% extends '_layout.html' %}

{% block title %}changing subject selections{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    <input type="hidden" name="user_id" value="{{ result.user_id }}">
    <br />
    <label for="first_name">first Name:</label>
    <input id="first_name" name="first_name" value="{{ result.student_first_name }}">
    <br>
    <label for="last_name">Last name:</label>
    <input id="last_name" name="last_name" value="{{ result.student_last_name }}">
    <br>
    <label for="email">email:</label>
    <input id="email" name="email" value="{{ result.email }}">
    <br>
    <label for="must_choose_subject(english)">must choose subject(english):</label>
    <select id="must_choose_subject(english)" name="must_choose_subject(english)" />
    {% for subject in subjects %}
    <option value="{{ subject.subject_code }}">{{ subject.subject_name }}</option>
    {% endfor %}
    <select />
    <br>
    <label for="must_choose_subject(Mathematics)">must choose subject(Mathematics):</label>
    <select id="must_choose_subject(Mathematics)" name="must_choose_subject(Mathematics)" />
    {% for subject in subjects %}
    <option value="{{ subject.subject_code }}">{{ subject.subject_name }}</option>
    {% endfor %}
    <select />
    <br>
    <label for="must_choose_subject(science)">must choose subject(science):</label>
    <select id="must_choose_subject(science)" name="must_choose_subject(science)" />
    {% for subject in subjects %}
    <option value="{{ subject.subject_code }}">{{ subject.subject_name }}</option>
    {% endfor %}
    <select />
    <br>
    <label for="self_choose_subject(1)">self_choose_subject(1):</label>
    <select id="self_choose_subject(1)" name="self_choose_subject(1)">
        {% for subject in subjects %}
        <option value="{{ subject.subject_code }}">{{ subject.subject_name }}</option>
        {% endfor %}
    </select>
    <br>
    <label for="self_choose_subject(2)">self choose subject(2):</label>
    <select id="self_choose_subject(2)" name="self_choose_subject(2)" />
    {% for subject in subjects %}
    <option value="{{ subject.subject_code }}">{{ subject.subject_name }}</option>
    {% endfor %}
    <select />
    <br>

    <input type="submit" value="Save changes">
</form>
{% endblock %}
