{% extends '_layout.html' %}

{% block title %}subject_selections{% endblock %}

{% block content %}
<table>
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>email</th>
        <th>must_choose_subject(english)</th>
        <th>must_choose_subject(Mathematics)</th>
        <th>must_choose_subject(science)</th>
        <th>self_choose_subject(1)</th>
        <th>self_choose_subject(2)</th>
    </tr>
    {% for row in result %}
    <tr>
        <td>{{row.first_name}}</td>
        <td>{{row.last_name }}</td>
        <td>{{row.email}}</td>
        <td>{{row['must_choose_subject(english)']}}</td>
        <td>{{row['must_choose_subject(Mathematics)']}}</td>
        <td>{{row['must_choose_subject(science)']}}</td>
        <td>{{row['self_choose_subject(1)']}}</td>
        <td>{{row['self_choose_sublect(2)']}}</td>
        <td>
            <a href="/view?id={{row.id}}">View</a>
            <a href="/edit?id={{row.id}}">Edit</a>
            <a href="/delete?id={{row.id}}"onlclick="return confirm('Are you sure?')">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
<a href="{{url_for('add_user')}}">Add a new subject </a>
{% endblock %}